<h1>Créez une nouvelle liste</h1>
<%= form_with model: @list, local: true do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>
      <ul>
        <% @list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.submit 'Créez une Liste' %>
  </div>
<% end %>
<%= link_to 'Retour aux Listes', lists_path %>
