<h1><%= @list.name %></h1>

<h2>Films dans la liste :</h2>
<ul>
  <% if @list.bookmarks.any? %>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <%= bookmark.movie.title %>
        <%= image_tag bookmark.movie.poster_url, width: 100, alt: bookmark.movie.title if bookmark.movie.poster_url.present? %>

        <% if bookmark.movie.overview.present? %>
          <p><strong>Résumé :</strong> <%= bookmark.movie.overview %></p>
        <% else %>
          <p><em>Aucun résumé disponible.</em></p>
        <% end %>

        <% if bookmark.movie.rating.present? %>
          <p><strong>Note :</strong> <%= bookmark.movie.rating.round(1) %>/10</p>
        <% else %>
          <p><em>Aucune note disponible.</em></p>
        <% end %>

        <% if bookmark.comment.present? %>
          <p><strong>Commentaire :</strong> <%= bookmark.comment %></p>
        <% end %>

        <%= link_to 'Supprimer', list_bookmark_path(bookmark),
        data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr ?' } %>
      </li>
    <% end %>
  <% else %>
    <p>Aucun film ajouté à cette liste pour l'instant.</p>
  <% end %>

   <%= turbo_stream_from @list %>
</ul>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all, prompt: "Choisir un film" %>
  <%= f.submit "Ajouter le film", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to Lists', lists_path %>
