<h1>Ajouter un commentaire pour <%= @selected_movie&.title || 'un film' %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-input">
    <%= f.input :movie_id, as: :select, collection: Movie.all, selected: @selected_movie&.id, label: 'Sélectionnez un film' %>
  </div>

  <div class="form-input">
    <%= f.input :comment, as: :text, label: 'Ajoutez un commentaire', input_html: { rows: 3 } %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Ajouter le commentaire', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Retour à la liste', list_path(@list), class: 'btn btn-secondary' %>
